<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='base.css'>
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Best Books</h1>

        <h2>Search by Title or Author</h2>
    </header>

    <main>
        <% result.forEach(elm=>{ %>
        <section class="book-container">
            <img class="book-img" src="<%=elm.imageLinks%>">
            <p class="book-title"><%=elm.title%></p>
            <p class="book-authors"><%=elm.authors%></p>
            <p class="book-des"><%=elm.description%></p>
            <p class="book-des"><%=elm.isbn%></p>

            <form action="/books" method="POST">
                <input type="hidden" value="<%=elm.title%>" name="title"></input>
                <input type="hidden" value="<%=elm.authors%>" name="authors"></input>
                <input type="hidden" value="<%=elm.description%>" name="description"></input>
                <input type="hidden" value="<%=elm.imageLinks%>" name="imageLinks"></input>
                <input type="hidden" value="<%=elm.isbn%>" name="isbn"></input>
                <input type="hidden" value="<%=elm.categories%>" name="categories"></input>

                <button type="submit" >Add to collection</button>

            </form>
        </section>
        <% }) %>

    </main>

    <footer></footer>

</html>