<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="base.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>

<!-- Simulate a smartphone / tablet -->

    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a href="#" class="active">Best Books</a>
      <div id="myLinks">
        <a href="../">Home</a>
        <a href="../searches/new">Search</a>
      
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <p>Search by Title or Author</p>

        <!-- <h1>Best Books</h1>
        

        <h2>Search by Title or Author

        </h2>
            Logo

           Nav -->
                <!-- <nav id="nav">
                    <ul>
                        <li><a href="../" id="top-link"><span class="icon fa-home">Home</span></a></li>
                        <li><a href="../searches/new" id="portfolio-link"><span class="icon fa-th">Search</span></a></li>
                    </ul>
                </nav> --> 

</header>

    <!-- <header>
        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../searches/new">Search</a></li>
            </ul>
        </nav>
        <h1>Best Books</h1>
        

        <h2>Search by Title or Author</h2>


    </header> -->

    <main>
        <h2>You have <%=result.length %> books</h2>
        <% result.forEach(elm=>{ %>
        <section class="book-container">
            <img class="book-img" src="<%=elm.image_url%>">
            <p class="book-title"><%=elm.title%> </p>
            <p class="book-authors"><%=elm.author%></p>
            <a href="books/<%=elm.id%>">show Details</a>
        </section>
        <% }) %>

    </main>

    <footer></footer>
    <script>function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    console.log('hi');</script>
</body>

</html>