<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2> <%=result.length %></h2>

    </header>

    <main>
        <% result.forEach(elm=>{ %>
            <section class="book-container">
                <img class="book-img" src="<%=elm.image_url%>">
                <p class="book-title"><%=elm.title%> </p>
                <p class="book-authors"><%=elm.author%></p>
                <a href="books/<%=elm.id%>">show Details</a>
            </section>
            <% }) %>
    
    </main>

    <footer></footer>
</body>
</html>